extends layout

block content
  .row
    .infos.col-xs-12.col-sm-8.col-md-8.col-lg-8
        h2

        form(action="/infos" method="post")
          div.form-group
            label(for="inputTitle") Title
            input(type="text" name="title" class="form-control" id="inputTitle" placeholder="Information")

          div.form-group
            label(for="inputDescription") Description
            textarea(type="text" name="description" rows="10" cols="50" class="form-control" id="inputDescription" placeholder="Detailed description.")


          button(type="submit" class="btn btn-primary") Save
    .chat.col-xs-12.col-sm-4.col-md-4.col-lg-4


