extends layout

block content
  .row
    .travellers.col-xs-12.col-sm-8.col-md-8.col-lg-8
        h2

        form(action="/travellers" method="post")
          div.form-group
            label(for="inputName") Namn
            input(type="text" name="name" class="form-control" id="inputName" placeholder="Kurt")

          div.form-group
            label(for="inputEmail") E-post
            input(type="email" name="email" class="form-control" id="inputEmail" placeholder="kurt@gmail.com")

          div.form-group
            label(for="passport") Passnummer
            input(type="number" name="passport" class="form-control" id="passport" placeholder="123123123")

          div.form-group
            label(for="allergies") Allergier
            textarea(name="allergies" rows="10" cols="50" class="form-control" id="allergies")

          button(type="submit" class="btn btn-primary") Skicka
    .chat.col-xs-12.col-sm-4.col-md-4.col-lg-4


