extends layout

block content
  div#logo

  h2 Lägg till resande


  form(action="users" method="post")
    div.form-group
      label(for="inputName") Namn
      input(type="text" name="name" class="form-control" id="inputName" placeholder="Kurt")

    div.form-group
      label(for="inputEmail") E-post
      input(type="email" name="email" class="form-control" id="inputEmail" placeholder="kurt@gmail.com")
    button(type="submit" class="btn btn-primary") Skicka
