extends layout
block content
    .row
        .infos.col-xs-12.col-sm-8.col-md-8.col-lg-8
            .header
                h2 Information
                a.add-event(href="/infos/new")
                    span.glyphicon.glyphicon-plus
            .info-entries
              each info in infos
                .info-entry
                  h3= info.title
                  .content
                    each row in info.description.split('\n')
                      div= row
                  .actions
                    a(href='#' class="btn btn-default") Edit
        .sidebar.col-xs-12.col-sm-4.col-md-4.col-lg-4
          include log.jade
