doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    .topbar
      a(href="/")
        img.logo(src="../images/logo-text.png")
      nav
        a(href="/travellers") Travellers

    block content
