doctype html
html
  head
    title= title
     meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic', rel='stylesheet')
    script(src='/main.js')
  body
    a.logo(href="/")
      img(src="../images/logo-text.png")
    .topbar.row
      .col-xs-12.col-sm-2.col-md-2.col-lg-2
        h1 KHelg
      .col-xs-12.col-sm-10.col-md-10.col-lg-10
        nav
          a(href="/travellers") Travellers
          a(href="/events") Events
          a(href="/infos") Infos

    block content
