doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic', rel='stylesheet')
  body
    a.logo(href="/")
      img(src="../images/logo-text.png")
    .topbar
      h1 KHelg
      nav
        a(href="/travellers") Travellers

    block content
