extends layout

block content
  .row
    .travellers.col-xs-12.col-sm-8.col-md-8.col-lg-8
        .header
            h2 Resenärer
            a.add-traveller(href="/travellers/new")
                span.glyphicon.glyphicon-plus

        table.table.travellers
          thead
            tr
              th Name
              th.actions Actions
          each user,id in users
            tr
              td= user.name
              td.actions
                  a(href='#' class="btn btn-default") Edit

    .chat.col-xs-12.col-sm-4.col-md-4.col-lg-4
        h2 Chat
