extends layout

block content
    div#logo

    h2 Resenärer

    ul
        each user, id in users
            li= user.name
            a(href='users/edit/#{id}' class="btn btn-default") Editera


    p
        a(href="/") Lägg till resenär