body {
  padding: 50px;
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

.topbar {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}

.logo img {
  margin-right: 20px;
  height: 36px;
}

.topbar nav {
  flex: 1 1;
  display: flex;
  padding: 20px;
  margin-left: 20px;
  justify-content: flex-end;
  font-size: 150%;
}

.topbar nav a {
  margin-left: 1em;
}

.travellers {
  margin-bottom: 2em;
}

.add-traveller {
  font-size: 400%;
}
.events {
    margin-bottom: 2em;
}

.add-event {
    font-size: 400%;
}

.header {
  display: flex;
}
.header h2 {
  flex: 1 1;
}
.actions {
  width: 1%;
}

td time {
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  background: #eee;
}

.log {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.log .message {
  padding: 1em;
  background: #ebffce;
  margin: 0 2em 1em 0;
}
.log .message.me {
  margin: 0 0 1em 2em;
  background: #ceceff;
}
.log .message.system {
  margin: 0 0 1em;
  background: #ddd;
  font-style: italic;
}
.message h3 {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 .5em 0;
}
