body {
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

.main {
  padding: 2em;
}

.branding {
  background: #333;
  padding: 0.75em;
}

.topbar {
  background: #ecf0f1;
  padding: 0 2em;
}

.topbar h1 {
  margin: 0;
  font-size: 150%;
  font-weight: bold;
  line-height: 5rem;
}

.logo img {
  margin-right: 20px;
  height: 36px;
}

.topbar nav {
  display: flex;
  line-height: 5rem;
  margin-left: 20px;
  justify-content: flex-end;
  font-size: 125%;
}

.topbar nav a {
  margin-left: 1em;
}

.travellers {
  margin-bottom: 2em;
}

.add-traveller {
  font-size: 400%;
}
.events {
    margin-bottom: 2em;
}

.add-event {
    font-size: 400%;
}

.header {
  display: flex;
}
.header h2 {
  flex: 1 1;
}
table .actions {
  width: 1%;
}

td time {
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  background: #ecf0f1;
}
.sidebar h2 {
  font-size: 150%;
  font-weight: bold;
}

.number-of-new-messages {
  display: inline-block;
  float: right;
  background: #e74c3c;
  color: #fff;
  width: 1.25em;
  line-height: 1.25em;
  text-align: center;
  border-radius: 100%;
}
.log {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.log .message {
  padding: 1em;
  background: #ebffce;
  margin: 0 2em 1em 0;
}
.log .message.me {
  margin: 0 0 1em 2em;
  background: #ceceff;
}
.log .message.system {
  margin: 0 0 1em;
  background: none;
  font-style: italic;
}
.message h3 {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 .5em 0;
}
.add-log-message {
  margin-top: 2em;
}

.info-entry {
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
}

.info-entry .content {
  margin-bottom: 1em;
}

.info-entry .actions {
  text-align: right;
}
.info-entry .actions a {
  display: inline-block;
}
