body {
  padding: 50px;
  background-color: #2980b9;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  background-image: url(../images/travelway-logo-white.png);
  width: 646px;
  height: 268px;
}